flask
flask-cors
flask-limiter
werkzeug
pandas>=2.2.0
numpy
scikit-learn
scipy
joblib
xgboost
lightgbm
matplotlib
seaborn
plotly
boto3
botocore
python-dotenv
sdv
sdmetrics
copulas
ctgan
requests
urllib3<2.0
certifi
charset-normalizer
openpyxl
xlrd
pyinstaller

gunicorn
python-dateutil
psutil
imbalanced-learn
category-encoders
pytz
Faker
cloudpickle
tqdm
networkx
graphviz
rdt
deepecho
torch
jmespath
s3transfer